.header {
  /* On screens that are 600px or less, set the background color to olive */

  .menuItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 13px;
    cursor: pointer;
    color: white;
    text-decoration: none;

    .label {
      padding: 25px 18px 8px;
    }
    .label:hover {
      color: theme("colors.secondary");
    }

    .border {
      background-color: theme("colors.secondary");
      height: 3px;
      width: 0;
      transition: width 0.5s ease;
    }

    &:hover {
      .border {
        width: 100%;
      }
    }
  }
}

.socialMedia {
  color: white;
  padding: 0 10;
}

.socialMedia:hover {
  color: theme("colors.secondary");
}

.Hamburger_Menu__Container {
  background-color: theme("colors.light");
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .Hamburger__Items {
    width: 100%;
    border-width: 2px;
    border-bottom: black;

    a {
      color: black;
      text-decoration: none;
      text-align: center;
    }

    a:hover {
      color: theme("colors.secondary");
    }
  }
}
.Hamburger_Menu--isOpen {
  transform: translateX(0%);
}
